#include "resource.h"

SDL_app ICON "icon.ico"

1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS 0x00040004L
FILETYPE 0x00000001L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName", "Nicklas Nygren\0"
            VALUE "FileDescription", "Knytt Underground (Japan)\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "LegalCopyright", "Nicklas Nygren\0"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 1033, 1252
    }
}